<div id="mainLogo">
	  <%= image_tag "logo.png", alt: " BIG LOGO" %>
</div>

<div id="articles">
	<div id="what_we_do">
		<h2>What we do</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare, tellus eu mattis volutpat, nisi libero auctor eros, ut placerat diam ligula quis metus. Vivamus sed elementum neque. In posuere egestas lacus, ut lacinia nisl. Nam in volutpat tellus. Sed vestibulum justo non tellus convallis, non rhoncus tortor accumsan. Donec molestie imperdiet quam, sit amet laoreet nulla fringilla id. Cras porta, est eget scelerisque dictum, leo sem luctus erat, ac bibendum enim velit ac eros. 
		</p>
	</div>

	<div id="story">
		<h2>Short story</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare, tellus eu mattis volutpat, nisi libero auctor eros, ut placerat diam ligula quis metus. Vivamus sed elementum neque. In posuere egestas lacus, ut lacinia nisl. Nam in volutpat tellus. Sed vestibulum justo non tellus convallis, non rhoncus tortor accumsan. Donec molestie imperdiet quam, sit amet laoreet nulla fringilla id. Cras porta, est eget scelerisque dictum, leo sem luctus erat, ac bibendum enim velit ac eros. 
		</p>
	</div>
</div>