
<div id="mainLogo">
	  <%= image_tag "logo.png", alt: " BIG LOGO" %>
	</div>

<div id="tableContainer">
	<div id="tableRow">
	
	<section id="news">
	<article>
	<header>
		<h2>some details about us</h2>
	</header>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare, tellus eu mattis volutpat, nisi libero auctor eros, ut placerat diam ligula quis metus. Vivamus sed elementum neque. In posuere egestas lacus, ut lacinia nisl. Nam in volutpat tellus. Sed vestibulum justo non tellus convallis, non rhoncus tortor accumsan. Donec molestie imperdiet quam, sit amet laoreet nulla fringilla id. Cras porta, est eget scelerisque dictum, leo sem luctus erat, ac bibendum enim velit ac eros. 
		</p>
	</article>
	<header>
	<h2>another article</h2>
	</header>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare, tellus eu mattis volutpat, nisi libero auctor eros, ut placerat diam ligula quis metus. Vivamus sed elementum neque. In posuere egestas lacus, ut lacinia nisl. Nam in volutpat tellus. Sed vestibulum justo non tellus convallis, non rhoncus tortor accumsan. Donec molestie imperdiet quam, sit amet laoreet nulla fringilla id. Cras porta, est eget scelerisque dictum, leo sem luctus erat, ac bibendum enim velit ac eros. 
		</p>
	</article>	
	</section>

	<section id="topics">
		<h2>topics</h2>
			<h3 class="topics">security</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</p>
			<h3 class="topics">law</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</P>
			<h3 class="topics">password policy</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</p>
	</section>

	</div>
	</div>
	